:host {
  .table-devices {
    display: flex;
    flex-direction: column;
    &__row {
      &:nth-child(2n + 1) {
        background: #f0eef1;
      }
      display: grid;
      grid-template-columns: 1fr 5fr 2fr 2fr;
      min-width: 400px;
      &.head {
        border-bottom: 1px solid #4e325b;
        align-items: center;
        background: rgba(231, 229, 234, 0.99);
        &>div {
          padding: .4rem;
        }
      }

    }
    .hoverable {
      cursor: pointer;
      &:hover {
        background-color: #dfd3e7;
      }
    }
  }
  .search__block {
    padding-left: 5rem;
  }
}
